html, body {
	width: 100%;
}

html {
	background-color: grey;
}

body {
	background-color: #000;
	color: #ccc;
	margin-left: 0;
	margin-bottom: 0;
}

h1, h2 {
	color: #fff;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}

a {
	text-decoration: none;
	color: #ff3;
}

#works {
	padding-left: 3%;
}

#head-image {
	border: 1px solid black;
	border-radius: 500px;
	width: 100px;
	display: block;
	margin: 0 auto;
}

#intro {
	font-size: 33px;
	text-align: center;
	margin-top: 0;
	width: 100%;
}

.container {
	width: 60%;
	margin: 0 auto;
}

.intro {
	padding-top: 10%;
}

.works-items {
	font-size: 24px;
	padding: 10px;
}

/* PHOTOGRAPHY SECTION */

#photos-list {
	padding-left: 0;
}

.photography {
	width: 100%;
}

.images {
	width: 49.5%;
}

.photos {
	display: inline;
	width: 100%;
}

/* FOOTER SECTION */

#footer-body {
	padding-left: 0;
	width: 70%;
}

.footer {
	margin-top: 2%;
}

.bottom-links {
	display: inline;
	padding-right: 10px;
	font-size: 18px;
}

.links {
	width: 69%;
	display: inline-block;
}

.copy {
	width: 30%;
	display: inline-block;
	font-size: 18px;
	text-align: right;
}