html, body {
	width: 100%;
	min-height: 100vh;
}

body {
	margin: 0;
	background-color: #65d83d;
	font-family: Roboto;
}

.nav-container {
	position: absolute;
	background-color: #fff;
	width: 100%;
	min-height: 20vh;
}

.navbar {
	position: absolute;
	right: 2em;
	bottom: 0;
	display: table;
	width: 50%;
	margin: 0;
}

.main-nav {
	display: table-cell;
	text-align: center;
	width: 500px;
	font-weight: 700;
	padding: 30px;
	position: relative;
}

.main-nav:hover {
	box-shadow: 5px 0 5px -5px #c2c2c2,
	            -5px 0 5px -5px #c2c2c2;
	border-top: 3px solid #6ee344;
}

.dropdown {
	position: absolute;
	width: 100%;
	background-color: #fff;
	float: none;
	top: 4.8em;
	padding: 0;
	transition: opacity 0.3s ease-out;
	opacity: 0;
	right: 0;
}

.dropdown li {
	display: block;
	text-align: left;
	padding: 20px;
}