html, body {
	width: 100%;
}

body {
	margin: 0;
}

nav {
	position: fixed;
	width: 100%;
	min-height: 10vh;
	box-shadow: 0 0 1px #c2c2c2;
	top: 0;
	background-color: #fff;
	z-index: 400 !important;
}

.navbar {
	position: absolute;
	display: table;
	right: 0;
	bottom: -20px;
}

.navbar li {
	display: table-cell;
	padding: 30px;
}

.navbar-top {
	min-height: 10vh;
	width: 100%;
}

.container {
	width: 100%;
}

.jumbo {
	width: 100%;
}

.background {
	background: url("../images/header-back.svg");
	width: 100%;
	height: 85vh;
}

.layer {
	width: 100%;
	height: 85vh;
	background-color: #11a63d;
	opacity: 0.8;
}

.flexbox-container {
	position: absolute;
	top: 70px;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-jumbo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	width: 50%;
	height: 85vh;
}

.header-text {
	width: 80%;
	position: relative;
	color: #fff;
}

.header-text h1 {
	line-height: 1.5;
}

.right-jumbo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 85vh;
}

.form-signup {
	width: 80%;
	border-radius: 5px;
}

.form-signup p {
	position: relative;
	color: #fff;
	background-color: #637a91;
	text-align: center;
	padding: 20px;
}

.content-container {
	width: 100%;
	min-height: 100vh;
}