html, body {
	height: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}

body {
	padding-bottom: 20px;
}

h1 {
	text-align: center;
	margin-top: 0;
	color: #f1f1f2;
	text-shadow: 2px 2px #bcbabe;
	font-family: Lato;
	font-size: 40px;
}

#info {
	width: 100%;
	height: 20%;
	background-color: #A1D6E2;
	border-bottom: 2px solid #1995AD;
}

#chord-picture {
	height: 80%;
	width: 100%;
	background-color: #fff;
}

#chord {
	display: block;
	margin: auto;
	width: 40%;
	border: 1px solid #BCBABE;
}

.selection {
	text-align: center;
}